@page "/fetchdata"
@using ToDoApp.Data

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (toDos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var toDo in toDos)
            {
                <tr>
                    <td>@toDo.Title</td>
                    <td>@toDo.Status.ToString()</td>
                    <td>@toDo.DueDate.ToNiceString()</td>
                    <td>@toDo.CreatedDate.ToNiceString()</td>
                </tr>
            }
        </tbody>
    </table>
}
